img{
    width: 800px;
    height: 1131px;
}
h2{
    text-align: center;
}
#regionInfo {
    margin-top: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-basis: 60%;
}

#regionInfo h3 {
    margin-top: 0;
}

.fixed-box {
    margin-left: 100px;
    width: 420px; 
    height: 100px; 
    padding: 10px; 
    box-sizing: border-box; 
    position: absolute;
    top: 50px;
    right: 0; 
    transform: translateY(100%);
    transform: translateX(-60%);
}

